body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading {
    align-self: center;
}

.section-underline {
    border: none;
    height: 1px;
    background-color: black;
    width: 700px;
    margin-top: -0.5rem;
}

.section-container {
    display: none;
    border-radius: 1em;
    border: 2px solid #969696; 
    background-color: aliceblue;
}

.subsection-container {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.subsection-text {
    margin: 1rem;
    display: inline-block;
    align-self: center;
    max-width: 25rem;
}

.subsection-image {
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1em; 
}

.separator {
    border: none;
    height: 1px;
    background-color: grey;
    margin-left: 1rem;
    margin-right: 1rem;
}